{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="main">
     	<div class="wrap">
     	    <div class="content_top">
     	    	<div class="events">
	        			<h2>Upcomming Events</h2>
	        			<div class="section group">
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
							     <div class="event-img">
								    <a href="{% url 'home' %}"><img src="{% static 'core/images/event-img1.jpg' %}" alt=""><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span>Sed ut perspiciatis</span></h4>
								  <h4>Sep 14TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="{% url 'home' %}"><img src="{% static 'core/images/event-img2.jpg' %}" alt=""><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span> vel illum qui dolorem</span></h4>
								  <h4>Sep 5TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="{% url 'home' %}"><img src="{% static 'core/images/event-img3.jpg' %}" alt=""><span>Read More</span></a>
							   </div>
							</div>
					   </div>
					   <div class="section group">
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="{% url 'home' %}"><img src="{% static 'core/images/event-img4.jpg' %}" alt=""><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span>Sed ut perspiciatis</span></h4>
								  <h4>Sep 14TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="{% url 'home' %}"><img src="{% static 'core/images/event-img5.jpg' %}" alt=""><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span> vel illum qui dolorem</span></h4>
								  <h4>Sep 5TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="{% url 'home' %}"><img src="{% static 'core/images/event-img6.jpg' %}" alt=""><span>Read More</span></a>
							   </div>
							</div>
					   </div>					   
	        		</div>
     	    </div>
		</div>
     </div>
{% endblock %}